<div style="display: flex; align-items: center; margin-top: 10px">
  <mat-form-field appearance="fill" style="margin-right: 10px;">
    <mat-label>firstName</mat-label>
    <input matInput placeholder="Input 1" [(ngModel)]="newEmployee.firstName">
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-right: 10px;">
    <mat-label>lastName</mat-label>
    <input matInput placeholder="Input 2" [(ngModel)]="newEmployee.lastName">
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-right: 10px;">
    <mat-label>position1</mat-label>
    <input matInput placeholder="Input 2" [(ngModel)]="newEmployee.position">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addDepartment()">создать</button>
</div>


<table mat-table [dataSource]="employees" class="mat-elevation-z8">
  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID</th>
    <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
  </ng-container>

  <!-- firstName Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> First Name</th>
    <td mat-cell *matCellDef="let element"> {{ element.firstName }}</td>
  </ng-container>

  <!-- lastName Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Last Name</th>
    <td mat-cell *matCellDef="let element"> {{ element.lastName }}</td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Position</th>
    <td mat-cell *matCellDef="let element"> {{ element.position }}</td>
  </ng-container>

  <ng-container matColumnDef="departmentName">
    <th mat-header-cell *matHeaderCellDef> department Name</th>
    <td mat-cell *matCellDef="let element"> {{ element.departmentName }}</td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" (click)="openConfirmDialog(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

